<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LiquidHaskell · Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <style>
      
      .warningmessage {
        white-space: pre;
        font-family: monospace;
      }

      .welleditor {
        height: 400px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      }

      .typeToolTip {
        z-index:25; 
        background-color: #D8D8D8;
        border-radius: 5px 5px;
        
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px; 
        
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
        -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 

        font-family: 'Monaco', 
                     'Menlo',
                     'Ubuntu Mono', 
                     'Consolas',
                     'source-code-pro', 
                     monospace;

        font-size: 12px;
                   
        white-space: pre;
        display:block;
        position: fixed; 
        left: 1em; top: 2em; 
        z-index: 99;
        margin-left: 5; 
        background: #FFFFAA; 
        border: 2px solid #FFAD33;
        padding: 0.8em 1em;
      }


    </style>
      
    <!-- Le styles -->
    <link href="css/bootstrap-readable.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/bootswatch.css" rel="stylesheet">
    <!-- <link href="syntax/liquid.css" type='text/css' rel="stylesheet"> -->
    <!-- <script type="text/javascript" src="js/jquery/jquery-1.7.1.min.js"></script> -->
    <script type="text/javascript" src="js/jquery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/angular/angular.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
  </head>

<body data-spy="scroll" data-target=".bs-docs-sidebar" ng-app="liquidDemo" ng-controller="LiquidDemoCtrl">

  <!-- Navbar ================================================== -->
    <div ng-hide="isFullScreen" class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          
          <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="./index.html">Demo</a></li>
            <li class=""><a href="https://github.com/ucsd-progsys/liquidhaskell">Code</a></li>
            <li class=""><a href="http://goto.ucsd.edu/~rjhala/liquid/haskell/blog/about/">About</a></li>
            <li class=""><a href="http://goto.ucsd.edu/~rjhala/liquid/haskell/blog/">Blog</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>


    <!-- SubTitle ================================================== -->
           
   <header ng-show="!isFullScreen" class="jumbotron subhead" id="overview">
     <div class="container">
         <h1>LiquidHaskell</h1>
         <p class="lead">Refinement Types via SMT and Predicate Abstraction</p>
     </div>
   </header>

   
   <!-- Actual Body ================================================== -->
   
 
  <div class="container-fluid">
     <div class="row-fluid">

    <!--
     <div id="tableOfContents" ng-show="!isFullScreen" class="span2">
       <ul class="nav nav-list">

         <li class="nav-header">Basics</li>
         <li ng-repeat="demo in basicDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>

         <li class="nav-header">Datatype Measures</li>
         <li ng-repeat="demo in measureDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>
         
         <li class="nav-header">Abs. Refinements</li>
         <li ng-repeat="demo in abstRefDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>

         <li class="nav-header">HOPA Tutorial</li>
         <li ng-repeat="demo in tutorialDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>

       </ul>
     </div>
     -->

     <div id="code-pane" class="span12">
       
      
       <!-- Body content =========================================-->
      
       <!-- FILE LOAD/SAVE -->
       
        
        <div class="input-prepend input-append">


          <div class="btn-group">
           <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Select Demo&nbsp;<span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
             <li class="dropdown-submenu">
               <a tabindex="-1" href="#">Basics</a>
                 <ul class="dropdown-menu">
                   <li ng-repeat="demo in basicDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>
                 </ul>
               </a>
             </li>
               
             <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Measures</a>
                 <ul class="dropdown-menu">
                   <li ng-repeat="demo in measureDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>
                 </ul>
               </a>
             </li>
               
             <li class="dropdown-submenu">
               <a tabindex="-1" href="#">Abstract Refinements</a>
                 <ul class="dropdown-menu">
                   <li ng-repeat="demo in abstRefDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>
                 </ul>
               </a>
             </li>

             <li class="dropdown-submenu">
               <a tabindex="-1" href="#">HOPA Tutorial</a>
                 <ul class="dropdown-menu">
                   <li ng-repeat="demo in tutorialDemos"><a href="" ng-click="changeTarget(demo)">{{demo.name}}</a></li>
                 </ul>
               </a>
             </li>
           </ul>
          </div>

          <input  type="text" class="span9" ng-show="isLocalServer" ng-model="localFilePath" placeholder="local file path" id="localFilePath">
          <button class="btn" type="button" ng-show="isLocalServer" ng-click="loadFromLocalPath()">Load</button>
          <button class="btn" type="button" ng-show="isLocalServer" ng-click="saveToLocalPath()">Save</button>
        </div>
        

        <br>


        <div class="tab-content">
           <div class="tab-pane active" id="tabSrc">
             <div ng-show="isError" class="alert alert-block" ng-repeat="warn in warns">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>Error:</strong> 
                 <div class="warningmessage">{{warn}}</div>
             </div>

             <div ng-show="isUnsafe" class="alert alert-error" ng-repeat="warn in warns">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>Unsafe!</strong>
                 <div class="warningmessage">{{warn}}</div>
             </div>

             <div ng-show="isCrash" class="alert alert-block">
               <button type="button" class="close" data-dismiss="alert">×</button>
               <strong>Crash!</strong> Uh oh, there was a crash. See the <a href="log">the log</a>.
             </div>

             <div id="program-pane" class="welleditor" style="background:#fff">
             <div class="form-horizontal">
               <div ng-show="isLocalServer" class="input-prepend input-append">
                 <button class="btn btn-info" type="button" ng-show="isUnknown" ng-click="verifySource()">Re</button>
                 <button class="btn btn-info" type="button" ng-show="isUnknown" ng-click="verifySource()">Check</button>
               </div>
               <button class="btn"             type="button" ng-show="isChecking" ng-click="verifySource()">Verifying...</button>
               <button class="btn btn-success" type="button" ng-show="isSafe">Safe</button>
               <button class="btn btn-danger"  type="button" ng-show="isUnsafe">Unsafe</button>
               <button class="btn btn-warning" type="button" ng-show="isError">Error!</button>
               <button class="btn btn-warning" type="button" ng-show="isCrash">Crash!</button>

               <div style="float:right" class="input-prepend input-append">
                 <button class="btn" type="button" ng-click="makePermalink()">Permalink: {{sourceFileName}}</button>
                 <button class="btn" type="button" ng-click="toggleFullScreen()">{{embiggen}}</i></button>
               </div>

             </div> 
             <br>
             <div id="program" style="height: 85%"> 
                 -- Wait for it ...
             </div>
             </div>
           </div>
         </div>
       </div> 

<!-- JavaScript below! ============================================== -->


  <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script> 
  <script src="js/ace/theme-xcode.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/ace/mode-haskell.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="js/tooltip.js"></script> 
  <script src="js/annot.js"></script> 
  <script src="js/liquid.js"></script>
    
  <!--Site Meter
  <script type="text/javascript" 
    src="http://s23.sitemeter.com/js/counter.js?site=s23liquidtypes">
  </script>
  <noscript>
    <a href="http://s23.sitemeter.com/stats.asp?site=s23liquidtypes" 
      target="_top">
      <img src="http://s23.sitemeter.com/meter.asp?site=s23liquidtypes" 
      alt="Site Meter" border="0"/></a>
  /</noscript>
  Copyright (c)2009 Site Meter -->

</body>

</html>
